In [1]:
!pip install pycoingecko

Requirement already satisfied: pycoingecko in c:\users\alimi\anaconda3\lib\site-packages (1.4.0)
Requirement already satisfied: requests in c:\users\alimi\anaconda3\lib\site-packages (from pycoingecko) (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\alimi\anaconda3\lib\site-packages (from requests->pycoingecko) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\alimi\anaconda3\lib\site-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alimi\anaconda3\lib\site-packages (from requests->pycoingecko) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\alimi\anaconda3\lib\site-packages (from requests->pycoingecko) (2.10)

In [2]:
import pandas as pd
from pycoingecko import CoinGeckoAPI

In [3]:
gecko_list = [
    "bitcoin",
    "ethereum",
    "ripple",  # xrp
    "bitcoin-cash",
    "cardano",
    "bitcoin-cash-sv",
    "litecoin",
    "chainlink",
    "binancecoin",
    "eos",
    "tron",
]

In [4]:
cg = CoinGeckoAPI()

In [8]:
timePeriod = 180

data = {}
for coin in gecko_list:
    try:
        nested_lists = cg.get_coin_market_chart_by_id(
            id=coin, vs_currency="usd", days=timePeriod
        )["prices"]
        data[coin] = {}
        data[coin]["timestamps"], data[coin]["values"] = zip(*nested_lists)

    except Exception as e:
        print(e)
        print("coin: " + coin)

frame_list = [
    pd.DataFrame(data[coin]["values"], index=data[coin]["timestamps"], columns=[coin])
    for coin in gecko_list
    if coin in data
]

In [9]:
df_cyptocurrency = pd.concat(frame_list, axis=1).sort_index()
df_cyptocurrency

,bitcoin,ethereum,ripple,bitcoin-cash,cardano,bitcoin-cash-sv,litecoin,chainlink,binancecoin,eos,tron
1602892800000,11319.097786,365.990642,0.240085,249.903325,0.104076,159.868708,47.583879,10.595219,29.980351,2.532585,0.025725
1602979200000,11365.814131,368.650470,0.240895,244.891581,0.106059,158.943921,46.958379,10.655830,30.235067,2.526097,0.025749
1603065600000,11495.899976,378.049365,0.242315,248.978254,0.107472,160.387563,47.556977,10.918305,30.644145,2.549154,0.025946
1603152000000,11752.146864,379.639477,0.246074,249.603846,0.108821,159.763678,48.034377,10.918419,29.909175,2.581838,0.025882
1603238400000,11908.708923,368.227014,0.243489,240.780975,0.102272,157.104827,46.889085,9.854751,28.774232,2.525789,0.026048
...,...,...,...,...,...,...,...,...,...,...,...
1618424525000,NaN,NaN,NaN,NaN,NaN,NaN,264.687375,NaN,NaN,NaN,NaN
1618424674000,62316.119488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1618429369000,NaN,NaN,NaN,NaN,NaN,322.199364,NaN,NaN,NaN,NaN,NaN
1618429474000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.232736,NaN
1618429906000,NaN,NaN,1.696172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_cyptocurrency["datetime"] = pd.to_datetime(df_cyptocurrency.index, unit="ms")
df_cyptocurrency["date"] = df_cyptocurrency["datetime"].dt.date
df_cyptocurrency["hour"] = df_cyptocurrency["datetime"].dt.hour
df_cyptocurrency

,bitcoin,ethereum,ripple,bitcoin-cash,cardano,bitcoin-cash-sv,litecoin,chainlink,binancecoin,eos,tron,datetime,date,hour
1602892800000,11319.097786,365.990642,0.240085,249.903325,0.104076,159.868708,47.583879,10.595219,29.980351,2.532585,0.025725,2020-10-17 00:00:00,2020-10-17,0
1602979200000,11365.814131,368.650470,0.240895,244.891581,0.106059,158.943921,46.958379,10.655830,30.235067,2.526097,0.025749,2020-10-18 00:00:00,2020-10-18,0
1603065600000,11495.899976,378.049365,0.242315,248.978254,0.107472,160.387563,47.556977,10.918305,30.644145,2.549154,0.025946,2020-10-19 00:00:00,2020-10-19,0
1603152000000,11752.146864,379.639477,0.246074,249.603846,0.108821,159.763678,48.034377,10.918419,29.909175,2.581838,0.025882,2020-10-20 00:00:00,2020-10-20,0
1603238400000,11908.708923,368.227014,0.243489,240.780975,0.102272,157.104827,46.889085,9.854751,28.774232,2.525789,0.026048,2020-10-21 00:00:00,2020-10-21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1618424525000,NaN,NaN,NaN,NaN,NaN,NaN,264.687375,NaN,NaN,NaN,NaN,2021-04-14 18:22:05,2021-04-14,18
1618424674000,62316.119488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-14 18:24:34,2021-04-14,18
1618429369000,NaN,NaN,NaN,NaN,NaN,322.199364,NaN,NaN,NaN,NaN,NaN,2021-04-14 19:42:49,2021-04-14,19
1618429474000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.232736,NaN,2021-04-14 19:44:34,2021-04-14,19
1618429906000,NaN,NaN,1.696172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-14 19:51:46,2021-04-14,19

In [12]:
df_cyptocurrency = df_cyptocurrency.melt(
    id_vars=["datetime", "date", "hour"], var_name="currency_name", ignore_index=True
)
df_cyptocurrency.head(5)

    datetime        date  hour currency_name         value
0 2020-10-17  2020-10-17     0       bitcoin  11319.097786
1 2020-10-18  2020-10-18     0       bitcoin  11365.814131
2 2020-10-19  2020-10-19     0       bitcoin  11495.899976
3 2020-10-20  2020-10-20     0       bitcoin  11752.146864
4 2020-10-21  2020-10-21     0       bitcoin  11908.708923

In [13]:
df_cyptocurrency.dropna(inplace=True)

In [14]:
curr = dict(
    [
        ("bitcoin", "BTC"),
        ("ethereum", "ETH"),
        ("ripple", "XRP"),
        ("bitcoin-cash", "BCH"),
        ("cardano", "ADA"),
        ("bitcoin-cash-sv", "BSV"),
        ("litecoin", "LTC"),
        ("chainlink", "LINK"),
        ("binancecoin", "BNB"),
        ("tron", "TRON"),
        ("eos", "EOS"),
        ("tether", "USDT"),
    ]
)

df_cyptocurrency["coin_symbol"] = df_cyptocurrency["currency_name"].apply(
    lambda c: curr[c]
)

In [15]:
df_cyptocurrency

,datetime,date,hour,currency_name,value,coin_symbol
0,2020-10-17 00:00:00,2020-10-17,0,bitcoin,11319.097786,BTC
1,2020-10-18 00:00:00,2020-10-18,0,bitcoin,11365.814131,BTC
2,2020-10-19 00:00:00,2020-10-19,0,bitcoin,11495.899976,BTC
3,2020-10-20 00:00:00,2020-10-20,0,bitcoin,11752.146864,BTC
4,2020-10-21 00:00:00,2020-10-21,0,bitcoin,11908.708923,BTC
...,...,...,...,...,...,...
2086,2021-04-11 00:00:00,2021-04-11,0,tron,0.126216,TRON
2087,2021-04-12 00:00:00,2021-04-12,0,tron,0.122491,TRON
2088,2021-04-13 00:00:00,2021-04-13,0,tron,0.129833,TRON
2089,2021-04-14 00:00:00,2021-04-14,0,tron,0.147125,TRON
2094,2021-04-14 14:19:13,2021-04-14,14,tron,0.133032,TRON

In [16]:
df_cyptocurrency.to_csv('CryptoPrices.csv')