In [1]:
!pip install tweepy

Requirement already satisfied: tweepy in c:\users\alimi\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\alimi\anaconda3\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in c:\users\alimi\anaconda3\lib\site-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\users\alimi\anaconda3\lib\site-packages (from tweepy) (2.24.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\alimi\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\alimi\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\alimi\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alimi\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\alimi\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in c:\users\alimi\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [2]:
import tweepy
import pandas as pd
import numpy as np

In [28]:
# all 4 authentication keys to acess twitter API
# to connect as OAth Handler or jump server/ reverse proxy server
consumer_key = "dptv9MsTK2ISoARjd6b1K6O1r"
consumer_key_secret = "BlwyhmQUUtd7MlDhYeM2JGEHOjULHotnnaMeYeJ5a1hwlSTb7x"

# from proxy server we need to connect
access_token = "1373148126597451776-bwMjC8412vnM5TZ7sHQkeIhwPGsc7F"
access_token_secret = "9DHbRMz70f81qkwunwxg8ccKUnXp8Va8aMKV83bCXMKzn"

In [29]:
# connected to jump server of twitter
auth = tweepy.OAuthHandler(consumer_key, consumer_key_secret)

In [30]:
# now we can connect from jump server to web server of twitter
auth.set_access_token(access_token, access_token_secret)

In [31]:
# now we can connect to API Strong server of twitter
api = tweepy.API(auth)

# Crytocurrency Short forms
AUR - Auroracoin
BCC - BitConnect (inactive)
BCH - Bitcoin Cash
BTC or XBT - Bitcoin
DASH - Dash
DOGE or XDG - Dogecoin
EOS - EOS.IO
ETC - Ethereum Classic
ETH - Ether (also known as Ethereum)
GRC - Gridcoin
LTC - Litecoin
KOI or COYE - Coinye (inactive)
MZC - Mazacoin
Nano - Nano
NEO - Neo
NMC - Namecoin
Nxt - NXT
POT - PotCoin
PPC - Peercoin
TIT - Titcoin
USDC - USD Coin (stablecoin)
USDT - Tether
VTC - Vertcoin
XEM - NEM
XLM - Stellar
XMR - Monero
XPM - Primecoin
XRP - Ripple
XVG - Verge
ZEC - Zcash

In [124]:
# Scrapping 7 different types of Cryptocurrency
BTC = api.search('bitcoin',count=200, lang='en', tweet_mode='extended')
ETH = api.search('Ethereum', count=200, lang='en', tweet_mode='extended')
USDT = api.search('tether', count=200, lang='en', tweet_mode='extended')
XRP = api.search('Ripple', count=200, lang='en', tweet_mode='extended')
BCH = api.search('bitcoin cash', count=200, lang='en', tweet_mode='extended')
LTC= api.search('litecoin', count=200, lang='en', tweet_mode='extended')
VTC = api.search('vertcoin', count=200, lang='en', tweet_mode='extended')

In [125]:
# Creating dataframes for different currency:
df1 = pd.DataFrame(data=[tweet.full_text for tweet in BTC], columns=['original_Tweets'])
df2 = pd.DataFrame(data=[tweet.full_text for tweet in ETH], columns=['original_Tweets'])
df3 = pd.DataFrame(data=[tweet.full_text for tweet in USDT], columns=['original_Tweets'])
df4 = pd.DataFrame(data=[tweet.full_text for tweet in XRP], columns=['original_Tweets'])
df5 = pd.DataFrame(data=[tweet.full_text for tweet in BCH], columns=['original_Tweets'])
df6 = pd.DataFrame(data=[tweet.full_text for tweet in LTC], columns=['original_Tweets'])
df7 = pd.DataFrame(data=[tweet.full_text for tweet in VTC], columns=['original_Tweets'])
# We display the first 10 elements of the dataframe:
df7.head()

                                     original_Tweets
0  RT @latitude8848: Day 11 of tweeting @binance ...
1  @cz_binance @binance So why haven't @binance o...
2  @cz_binance @binance Please list @Vertcoin We ...
3            Vertcoin oh boy https://t.co/2f4ghNd3m1
4  RT @latitude8848: @vertcoin just hit $8000 on ...

In [126]:
# Creating a shortform list and adding a column 'currency' in respective dataframe for future filtering:
cur = ['BTC','ETH','USDT','XRP','BCH','LTC','VTC']

df1['Currency'] = cur[0]
df2['Currency'] = cur[1]
df3['Currency'] = cur[2]
df4['Currency'] = cur[3]
df5['Currency'] = cur[4]
df6['Currency'] = cur[5]
df7['Currency'] = cur[6]
df1.head()
df2.head()

                                     original_Tweets Currency
0  RT @The_NFT_Wizard: First bid of the day helpi...      ETH
1  RT @AirdropStario: üíßBithashex Airdropüíß\n\nüèÜ Ta...      ETH
2  RT @Cashbro303: ‚ù§Ô∏è $100 to someone who retweet...      ETH
3  NEKO ‚Äî NEKOs are the cutest generated cat NFTs...      ETH
4  RT @flurbnb: üî• $300 to someone who retweets th...      ETH

In [127]:
# add relevant data:
#BTC
df1['len']  = np.array([len(tweet.full_text) for tweet in BTC])
df1['ID']   = np.array([tweet.id for tweet in BTC])
df1['Date'] = np.array([tweet.created_at for tweet in BTC])
df1['Source'] = np.array([tweet.source for tweet in BTC])
df1['Likes']  = np.array([tweet.favorite_count for tweet in BTC])
df1['RTs']    = np.array([tweet.retweet_count for tweet in BTC])

#ETH
df2['len']  = np.array([len(tweet.full_text) for tweet in ETH])
df2['ID']   = np.array([tweet.id for tweet in ETH])
df2['Date'] = np.array([tweet.created_at for tweet in ETH])
df2['Source'] = np.array([tweet.source for tweet in ETH])
df2['Likes']  = np.array([tweet.favorite_count for tweet in ETH])
df2['RTs']    = np.array([tweet.retweet_count for tweet in ETH])

#USDT
df3['len']  = np.array([len(tweet.full_text) for tweet in USDT])
df3['ID']   = np.array([tweet.id for tweet in USDT])
df3['Date'] = np.array([tweet.created_at for tweet in USDT])
df3['Source'] = np.array([tweet.source for tweet in USDT])
df3['Likes']  = np.array([tweet.favorite_count for tweet in USDT])
df3['RTs']    = np.array([tweet.retweet_count for tweet in USDT])

#XRP
df4['len']  = np.array([len(tweet.full_text) for tweet in XRP])
df4['ID']   = np.array([tweet.id for tweet in XRP])
df4['Date'] = np.array([tweet.created_at for tweet in XRP])
df4['Source'] = np.array([tweet.source for tweet in XRP])
df4['Likes']  = np.array([tweet.favorite_count for tweet in XRP])
df4['RTs']    = np.array([tweet.retweet_count for tweet in XRP])


#BCH
df5['len']  = np.array([len(tweet.full_text) for tweet in BCH])
df5['ID']   = np.array([tweet.id for tweet in BCH])
df5['Date'] = np.array([tweet.created_at for tweet in BCH])
df5['Source'] = np.array([tweet.source for tweet in BCH])
df5['Likes']  = np.array([tweet.favorite_count for tweet in BCH])
df5['RTs']    = np.array([tweet.retweet_count for tweet in BCH])

#LTC
df6['len']  = np.array([len(tweet.full_text) for tweet in LTC])
df6['ID']   = np.array([tweet.id for tweet in LTC])
df6['Date'] = np.array([tweet.created_at for tweet in LTC])
df6['Source'] = np.array([tweet.source for tweet in LTC])
df6['Likes']  = np.array([tweet.favorite_count for tweet in LTC])
df6['RTs']    = np.array([tweet.retweet_count for tweet in LTC])

#VTC
df7['len']  = np.array([len(tweet.full_text) for tweet in VTC])
df7['ID']   = np.array([tweet.id for tweet in VTC])
df7['Date'] = np.array([tweet.created_at for tweet in VTC])
df7['Source'] = np.array([tweet.source for tweet in VTC])
df7['Likes']  = np.array([tweet.favorite_count for tweet in VTC])
df7['RTs']    = np.array([tweet.retweet_count for tweet in VTC])

In [128]:
# Display of first 10 elements from dataframe:
display(df1.head(10), df2.head(10))

,original_Tweets,Currency,len,ID,Date,Source,Likes,RTs
0,BTC surpassed Apple; SEC you can‚Äôt shut down B...,BTC,112,1382228515899240449,2021-04-14 07:05:33,Twitter Web App,0,0
1,RT @ashwsbreal: When Bitcoin hits $100k I‚Äôm go...,BTC,140,1382228514045329408,2021-04-14 07:05:32,Twitter for Android,0,267
2,@Crypto_Mags Nah. Regret is a losers game. Hon...,BTC,281,1382228508559101959,2021-04-14 07:05:31,Twitter for iPhone,0,0
3,"@ecurrencyhodler Sonething, something, this is...",BTC,64,1382228507657347079,2021-04-14 07:05:31,Twitter for Android,0,0
4,RT @flurbnb: üíØ $100 to someone who retweets an...,BTC,130,1382228505291849729,2021-04-14 07:05:30,Twitter for Android,0,1880
5,RT @ashwsbreal: When Bitcoin hits $100k I‚Äôm go...,BTC,140,1382228504901783552,2021-04-14 07:05:30,Twitter Web App,0,267
6,RT @Investingcom: *BITCOIN CLIMBS TO NEW ALL-T...,BTC,140,1382228504788488192,2021-04-14 07:05:30,Twitter for Android,0,26
7,RT @ashwsbreal: When Bitcoin hits $100k I‚Äôm go...,BTC,140,1382228503484002304,2021-04-14 07:05:30,Twitter for Android,0,267
8,Rt If this is Adorable üòç\n\n#Bitcoin https://t...,BTC,58,1382228501860868096,2021-04-14 07:05:30,Twitter for Android,0,0
9,RT @cryptovenizo: $50 in 24hrs\n\n‚úì RT this \n...,BTC,140,1382228494424317956,2021-04-14 07:05:28,Twitter Web App,0,815

,original_Tweets,Currency,len,ID,Date,Source,Likes,RTs
0,RT @The_NFT_Wizard: First bid of the day helpi...,ETH,126,1382228528742154243,2021-04-14 07:05:36,Twitter Web App,0,1
1,RT @AirdropStario: üíßBithashex Airdropüíß\n\nüèÜ Ta...,ETH,144,1382228528440090626,2021-04-14 07:05:36,Twitter Web App,0,4451
2,RT @Cashbro303: ‚ù§Ô∏è $100 to someone who retweet...,ETH,140,1382228525550166018,2021-04-14 07:05:35,Twitter for Android,0,1673
3,NEKO ‚Äî NEKOs are the cutest generated cat NFTs...,ETH,86,1382228519506296833,2021-04-14 07:05:34,IFTTT,0,0
4,RT @flurbnb: üî• $300 to someone who retweets th...,ETH,140,1382228519011385348,2021-04-14 07:05:34,Twitter for iPhone,0,2529
5,RT @flurbnb: üíØ $100 to someone who retweets an...,ETH,130,1382228505291849729,2021-04-14 07:05:30,Twitter for Android,0,1880
6,RT @Bitboy_Crypto: Bold Prediction:\n\n#Ethere...,ETH,90,1382228505258233858,2021-04-14 07:05:30,Twitter for iPhone,0,712
7,@flurbnb @bitcoin_paris_ ¬∑\n\n3h\n\n$1000 to s...,ETH,148,1382228473721331712,2021-04-14 07:05:23,Twitter Web App,0,0
8,RT @flurbnb: üíØ $300 to someone who retweets th...,ETH,140,1382228469162074113,2021-04-14 07:05:22,Twitter Web App,0,3601
9,RT @investindigital: I've been rewatching thes...,ETH,140,1382228416431321088,2021-04-14 07:05:09,Twitter for Android,0,14

In [129]:
final_df = pd.concat([df1,df2,df3,df4,df5,df6])
final_df

,original_Tweets,Currency,len,ID,Date,Source,Likes,RTs
0,BTC surpassed Apple; SEC you can‚Äôt shut down B...,BTC,112,1382228515899240449,2021-04-14 07:05:33,Twitter Web App,0,0
1,RT @ashwsbreal: When Bitcoin hits $100k I‚Äôm go...,BTC,140,1382228514045329408,2021-04-14 07:05:32,Twitter for Android,0,267
2,@Crypto_Mags Nah. Regret is a losers game. Hon...,BTC,281,1382228508559101959,2021-04-14 07:05:31,Twitter for iPhone,0,0
3,"@ecurrencyhodler Sonething, something, this is...",BTC,64,1382228507657347079,2021-04-14 07:05:31,Twitter for Android,0,0
4,RT @flurbnb: üíØ $100 to someone who retweets an...,BTC,130,1382228505291849729,2021-04-14 07:05:30,Twitter for Android,0,1880
...,...,...,...,...,...,...,...,...
95,"Yet again, another example of most deplorable ...",LTC,299,1382225063403954176,2021-04-14 06:51:50,Twitter Web App,166,21
96,RT @itsALLrisky: #Dogecoin just surpassed Bitc...,LTC,140,1382225035033710592,2021-04-14 06:51:43,Twitter for iPhone,0,178
97,"@DrAmigoo @litecoin @mektronik No, I don‚Äôt hav...",LTC,102,1382224842687057921,2021-04-14 06:50:57,Twitter Web App,1,0
98,RT @itsALLrisky: #Dogecoin just surpassed Bitc...,LTC,140,1382224782482055169,2021-04-14 06:50:43,Twitter for iPhone,0,178
99,RT @itsALLrisky: #Dogecoin just surpassed Bitc...,LTC,140,1382224714895081473,2021-04-14 06:50:27,Twitter Web App,0,178

In [131]:
# dataframe to be stored in CSV file
final_df.to_csv('Cryptocurrencytweetsscraping.csv')